@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/** paramètres généraux**/
*,
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
footer > h3 {
  font-family: "shrikhand", cursive;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", "sans-serif";
}

.flex {
  display: flex;
}
.title__home {
  font-size: 1.8rem;
}
.restaurants__view,
#restaurants__view {
  margin: 1.5rem;
}

/** header**/ 
header {
  box-shadow: 0 0 0.5rem #bbbaba;
  position: relative;
}

header > h1 {
  text-align: center;
  margin: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 2.3rem;}


/** localisation**/

.location {
  background-color: #eaeaea;
  padding: 1.5rem 0;
}

.location__search {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.search__area {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  font-weight: 700;
  padding: 0.5rem;
}
/** Présentation ohmyfood**/
.presentation {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 2rem;
}
.presentation__text {
  text-align: center;
}
/** bouton explorer**/
.btn__primary {
  width: 14rem;
  height: 3rem;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0.3rem 0.3rem 0.5rem #bbbaba;
  transition: opacity 250ms, box-shadow 250ms;
  opacity: 1;
}
.btn__primary:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0.3rem 0.5rem 0.5rem #bbbaba;
}
/** section fonctionnement**/
.operating {
  flex-direction: column;
}

.operating__list {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
}
.operating__btn {
  width: 85%;
  min-height: 5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #f6f6f6;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.5rem #bbbaba;
  gap: 0.8rem;
  font-weight: 600;
  transition: background-color 250ms;
}
.operating__btn:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.operating__btn:hover i {
  color: #9356dc;
}
.operating__bubble {
  position: relative;
  top: 0;
  left: -1rem;
  background-color: #9356dc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.operating__list i {
  font-size: 1.5rem;
  color: #6b6a6a;
  transition: color 250ms;
}

/** section restaurants**/

.restaurants {
  background-color: #f6f6f6;
  padding-top: 1rem;
  flex-direction: column;
}

.restaurants__list {
  flex-direction: column;
  gap: 2rem;
}

.restaurants__cards {
  margin: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem #bbbaba;
  border-radius: 2rem;
}
.restaurants__cards img {
  width: 100%;
  max-width: 990px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  object-position: 50% 60%;
}
.restaurants__cards > figcaption {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  max-width: 990px;
}
.restaurants__cards h3 {
  margin: 0;
  padding: 1rem 0 0.4rem 0.7rem;
}
.restaurants__cards p {
  padding-left: 0.7rem;
  padding-bottom: 1rem;
  margin: 0;
}



/** footer**/
footer {
  background-color: #39393a;
  flex-direction: column;
  font-size: 1rem;
  color: white;
  line-height: 2.2rem;
}

footer > h3 {
  font-weight: 300;
  padding-left: 1rem;
}
footer > ul {
  padding-left: 1rem;
  padding-bottom: 2rem;
}
footer > ul i {
  padding-right: 0.3rem;
}
footer a:hover {
  color: #9356dc;
}
