footer {
  background-color: $footer-color;
  flex-direction: column;
  font-size: 1rem;
  color: white;
  line-height: 1.8rem;
  @include computer ; @include tablet {
    justify-content: center;
    align-items: center;
  }
  & h3 {
    font-weight: 300;
    padding-left: 1rem;
  }
  & ul {
    padding-left: 1rem;
    padding-bottom: 2rem;
    @include computer ;@include tablet {
      display:flex;
      gap:1rem
    }
  }
  & ul li {
    padding-right: 0.3rem;
  }
  & a:hover {
    color: $primary-color;
  }
}
footer .fas{
  margin-right: 1rem;
}
footer .fa-hands-helping{
  font-size: 0.8rem;
}