header {
  box-shadow: 0 0 0.5rem #bbbaba;
  position: relative;
  justify-content: center;
  & h1 {
    text-align: center;
    margin: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 2.3rem;
  }
  & i {
    font-size: 2rem;
    position: absolute;
    left: 3rem;
    top: 1.7rem;
  }
}
