//bouton gradient
.btn__primary {
  @include gradient-btn;
}

// les boutons fonctionnement
.operating__btn 
{
  @include btn-operating;
}
.operating__btn:hover i {
  color: $primary-color;
}
// l'insert "nouveau"
.new {
  position: relative;

  &::before {
    @include new;
  }
}

//les coeurs//
.heart {
 
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  &__index {
    top: 1rem;
    right: 2rem;
  }
  &__page {
    right: 2rem;
  }
}

.far::after {
 @include heart-after;
}
.far:hover::after {
  @include heart-hover
}


