.loader {
  height: 100%;
  width: 100%;
  background-color: #39393a;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "shrikhand", cursive;
  font-size: 2rem;
  color: #fff;
  animation: load 3s forwards;
  z-index: 3;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.loader__spinner {
  width: 7rem;
  height: 7rem;
  position: relative;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: rgb(147, 86, 220);
  animation: spin 1s linear 0s infinite;}

.loader__spinner:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  bottom: 14px;
  right: 14px;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: rgb(255, 121, 218);
  
  animation: spin 5s linear 0s infinite;
}
.loader__spinner::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 32px;
  bottom: 32px;
  right: 32px;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: rgb(153, 226, 208);
  animation: spin 10s linear 0s infinite;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  90% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
99% {
   height: 100%;
    width: 100%;
    opacity: 0;
}
  100% {
    height: 0%;
    width: 0%;
    opacity: 0;
  }
}
