//bouton explorer et commander
.btn__primary {
  @include gradient-btn;
}

// les boutons fonctionnement
.operating__btn {
  width: 85%;
  min-height: 5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: $back-color;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.5rem $color-box;
  gap: 0.8rem;
  font-weight: 600;
  transition: background-color 250ms;
  &:hover {
    background-color: #f5edff;
    cursor: pointer;
  }
}
.operating__btn:hover i {
  color: $primary-color;
}
// l'insert "nouveau"
.new {
  position: relative;

  &::before {
    @include new;
  }
}

//les coeurs//
.heart {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  &__index {
    top: 1rem;
    right: 2rem;
  }
  &__page {
    right: 2rem;
  }
}
