//bouton explorer et commander
.btn__primary {
  width: 14rem;
  height: 3rem;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient($secondary-color, $primary-color);
  border: none;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0.3rem 0.3rem 0.5rem $color-box;
  transition: opacity 300ms, box-shadow 300ms;
  opacity: 1;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0.3rem 0.5rem 0.5rem $color-box;
  }
}

// les boutons fonctionnement
.operating__btn {
  width: 85%;
  min-height: 5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: $back-color;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.5rem $color-box;
  gap: 0.8rem;
  font-weight: 600;
  transition: background-color 250ms;
  &:hover {
    background-color: #f5edff;
    cursor: pointer;
  }
}
.operating__btn:hover i {
  color: $primary-color;
}
// l'insert "nouveau"
.new {
  position: absolute;
  top: 10%;
  right: 8%;
  background-color: $tertiary-color;
  padding: 0.5rem 0.8rem;
  color: rgb(5, 138, 105);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  z-index: 1;
}

//les coeurs//
.heart {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  &__index {
    top: 1rem;
    right: 2rem;
  }
  &__page {
    right: 2rem;
  }
}
