.main__pages {
  margin-bottom: -2.5rem;
}

/** image du restaurant**/
.fig__page {
  margin: 0;
  & img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 60%;
  }
}
/**section  menus**/
.menu {
  width: 100%;
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  bottom: 2.5rem;
  z-index: 1;
  flex-direction: column;
}
.container__name {
  justify-content: space-between;
  position: relative;
  & h2 {
    margin: 0;
    font-family: "shrikhand", cursive;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}
.dishes__container {
  //placement des cartes pour le mode desktop
  @include computer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
}
.dishes {
  flex-direction: column;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  align-items: center;
  animation-name: appear;
  animation-duration: 2000ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  @include computer {
    width: 45%;
  }

  &__title {
    font-weight: 400;
    align-self: flex-start;
    padding-left: 2rem;
    margin-bottom: 0;
    position: relative;
  }
}
.dishes__title::after {
  //Bordure sous les catégories de plats
  content: "";
  border-bottom: 3px solid $tertiary-color;
  position: absolute;
  bottom: -0.6rem;
  left: 2rem;
  width: 3rem;
}

.dishes__cards {
  width: 95%;
  min-height: 5rem;
  border: none;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  @include box-shadow;
  position: relative;
  overflow: hidden;

  .dishes__square {
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%); 
    transition: 1000ms;
    background-color: $tertiary-color;
      i {
        display: flex;
        background-color: #ffffff;
        width: 2rem;
        height:2rem;
        border-radius: 50%;
        font-size: 1.5rem;
        color: $tertiary-color;
        align-items: center;
        justify-content: center;
        transform: rotate(0deg);
        transition:transform 500ms ease-in;
      }
  }

    &:hover .dishes__square{
      transform: translateX(0%);
        
    }
    &:hover .dishes__square i {
      transform: rotate(360deg);
    }
    .dishes__description {
      width: calc(100% - 50px);
      transition:1000ms;
    }
    &:hover .dishes__description {
      width: calc(100% - 150px);
  }
}

.dishes__description h4,
.dishes__description p {
  margin: 0;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dishes__price {
  font-weight: 600;
  width: 4rem;
  justify-content: flex-end;
  align-items: flex-end;
}

.cta__btn {
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.dishes__starting {
  animation-delay: 400ms;
  opacity: 0;
}
.dishes__dish {
  animation-delay: 900ms;
  opacity: 0;
}
.dishes__dessert {
  animation-delay: 1400ms;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
