.main__pages{
  margin-bottom: -2.5rem;
}

/** image du restaurant**/
.fig__page {
  margin: 0;
  & img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 60%;
  }
}
/**section  menus**/
.menu {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  bottom: 2.5rem;
  z-index: 1;
}
.container__name {
  justify-content: space-between;
  position: relative;
  & h2 {
    margin: 0;
    font-family: "shrikhand", cursive;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    font-size: 2rem;
  }
}

.dishes {
  flex-direction: column;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  &__title {
    font-weight: 400;
    align-self: flex-start;
    padding-left: 2rem;
    margin-bottom: 0;
    position: relative;
  }
}

.dishes__title::after{
content:"";
border-bottom: 3px solid $tertiary-color;
position:absolute;
display: inline-block;
bottom:-0.6rem;
left:2rem;
width:3rem;

}

.dishes__cards {
  width: 95%;
  min-height: 5rem;
  border: none;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem $color-box;
  justify-content: space-between;
  align-items: flex-end;
}
.dishes__description h4,
p {
  margin: 0;
  line-height: 1.5rem;
}
.dishes__price {
  font-weight: 600;
}

.cta__btn {
  justify-content: center;
  align-items: center;
  height: 8rem;
}

