@mixin box-shadow {
  box-shadow: 0.3rem 0.3rem 0.5rem $color-box;
}
@mixin btn-operating
{
  width: 85%;
  min-height: 5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: $back-color;
  align-items: center;
  @include box-shadow;
  gap: 0.8rem;
  font-weight: 600;
  transition: background-color 250ms;
  &:hover {
    background-color: #f5edff;
    cursor: pointer;
  }
}
@mixin new {
  // l'insert nouveau
  content: "Nouveau";
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: $tertiary-color;
  padding: 0.5rem 0.8rem;
  color: $tertiary-color-dark;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  z-index: 1;
}

@mixin gradient-btn {
  width: 14rem;
  height: 3rem;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  background: $btn-color;
  border: none;
  color: #ffffff;
  font-weight: 500;
  @include box-shadow;
  transition: all 300ms, box-shadow 300ms;
  opacity: 1;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0.3rem 0.6rem 0.5rem $color-box;
    transform:scale(1.1);
  }
}
@mixin heart-after {
  content: "\f004";
  position: relative;
  left: -2rem;
  transition: 500ms opacity ease-in-out 0.3s;
  opacity: 0;
}
@mixin heart-hover {
  font-weight: bold;
  opacity: 1;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin tablet{
  @media all and (min-width: map-get($breakpoints, tablets ))
  {
    @content;
  }
}
@mixin computer {
@media all and (min-width:map-get($breakpoints,computers))
{
  @content;
}}
