$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$tertiary-color-dark: darken($tertiary-color,40%);
$color-box: #bbbaba;
$location-color: #eaeaea;
$back-color: #f6f6f6;
$footer-color: #39393a;
$color-ico: #6b6a6a;
$btn-color:linear-gradient($secondary-color, $primary-color);

 $breakpoints:(
     tablets:768px,
     computers:992px,
 );
